openapi: 3.0.3
info:
  title: FlyMine Web Services API
  description: |
    FlyMine is an integrated database for Drosophila genomics providing powerful search and
    data warehousing capabilities for accessing integrated genomic, proteomic, and genetic data
    for Drosophila and related organisms. This API provides RESTful web services powered by
    InterMine, an open-source biological data warehouse system.

    ## Authentication
    Some endpoints require authentication via API token. Obtain a token using the /user/token endpoint
    with username and password, then include it as a query parameter in subsequent requests.

    ## Formats
    Most endpoints support multiple output formats including JSON, XML, TSV, and CSV.
  version: 31.0.0
  contact:
    name: FlyMine Support
    email: support@flymine.org
    url: https://www.flymine.org/
  license:
    name: LGPL-2.1
    url: https://www.gnu.org/licenses/old-licenses/lgpl-2.1.en.html
servers:
  - url: https://www.flymine.org/flymine/service
    description: FlyMine production server
tags:
  - name: query
    description: Query operations for retrieving genomic data
  - name: template
    description: Pre-configured query templates
  - name: list
    description: List management operations
  - name: search
    description: Search operations
  - name: export
    description: Data export in specialized formats
  - name: genomic-regions
    description: Genomic interval operations
  - name: user
    description: User account and authentication
  - name: model
    description: Data model operations
  - name: widget
    description: Data visualization widgets
  - name: id-resolution
    description: Identifier resolution services

paths:
  /query/results:
    get:
      tags:
        - query
      summary: Execute a query
      description: |
        Execute a PathQuery to retrieve data from FlyMine. Queries can be submitted
        in XML or JSON format and results can be returned in various formats.
      operationId: queryResultsGet
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: A definition of the query to execute in Path-Query XML or JSON format
          examples:
            shortGenesXChromosome:
              summary: Short genes on X chromosome (from original service.json)
              value: |
                <query name="short genes on the X chromosome" model="genomic" view="Gene.id Gene.exons.id">
                  <constraint path="Gene.chromosome.primaryIdentifier" op="=" value="X"/>
                  <constraint path="Gene.length" op="<" value="1000"/>
                </query>
            eveGeneQuery:
              summary: Query for even-skipped gene
              value: |
                <query name="eve gene query" model="genomic" view="Gene.primaryIdentifier Gene.symbol Gene.name Gene.length Gene.chromosome.primaryIdentifier Gene.chromosomeLocation.start Gene.chromosomeLocation.end">
                  <constraint path="Gene.symbol" op="=" value="eve"/>
                  <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
                </query>
            multipleGenesJSON:
              summary: JSON query for multiple developmental genes
              value: |
                {
                  "from": "Gene",
                  "select": ["primaryIdentifier", "symbol", "name", "length", "chromosome.primaryIdentifier"],
                  "where": [
                    {"path": "organism.name", "op": "=", "value": "Drosophila melanogaster"},
                    {"path": "symbol", "op": "ONE OF", "values": ["eve", "ftz", "zen", "hb", "Kr"]}
                  ],
                  "orderBy": [{"path": "symbol", "direction": "ASC"}]
                }
            transcriptionFactorGenes:
              summary: Genes with transcription factor activity
              value: |
                <query name="transcription factor genes" model="genomic" view="Gene.primaryIdentifier Gene.symbol Gene.name Gene.goAnnotation.ontologyTerm.name">
                  <constraint path="Gene.goAnnotation.ontologyTerm.name" op="CONTAINS" value="transcription factor"/>
                  <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
                </query>
            notchPathwayGenes:
              summary: Genes in Notch signaling pathway
              value: |
                {
                  "from": "Gene",
                  "select": ["primaryIdentifier", "symbol", "name", "pathways.name"],
                  "where": [
                    {"path": "organism.name", "op": "=", "value": "Drosophila melanogaster"},
                    {"path": "pathways.name", "op": "CONTAINS", "value": "Notch"}
                  ]
                }
            winglessProteinDomains:
              summary: Protein domains of wingless gene
              value: |
                <query name="wingless protein domains" model="genomic" view="Gene.symbol Gene.proteins.primaryIdentifier Gene.proteins.proteinDomains.name Gene.proteins.proteinDomains.description">
                  <constraint path="Gene.symbol" op="=" value="wingless"/>
                  <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
                </query>
        - name: format
          in: query
          schema:
            type: string
            enum:
              [
                tab,
                csv,
                count,
                json,
                jsonobjects,
                jsoncount,
                xml,
                html,
                rdf+xml,
              ]
            default: tab
          description: Output format
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: The index of the first result to return
        - name: size
          in: query
          schema:
            type: integer
            default: 10
          description: The maximum size of the result set
          example: 50
        - name: columnheaders
          in: query
          schema:
            type: string
            enum: [none, path, friendly]
            default: none
          description: Include column headers (only for flat-file formats)
        - name: token
          in: query
          schema:
            type: string
          description: Authentication token for private data access
          example: "abc123def456"
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                  executionTime:
                    type: integer
                  wasSuccessful:
                    type: boolean
                  error:
                    type: string
                  statusCode:
                    type: integer
              examples:
                shortGenesResponse:
                  summary: Response for short genes query
                  value:
                    results:
                      - ["FBgn0000008", "a", "893", "X"]
                      - ["FBgn0000606", "eve", "7784", "2R"]
                      - ["FBgn0001077", "ftz", "1062", "3R"]
                      - ["FBgn0004053", "zen", "583", "3R"]
                      - ["FBgn0001180", "hb", "746", "3R"]
                    executionTime: 234
                    wasSuccessful: true
                    statusCode: 200
                eveGeneResponse:
                  summary: Response for eve gene query
                  value:
                    results:
                      - [
                          "FBgn0000606",
                          "eve",
                          "even-skipped",
                          "7784",
                          "2R",
                          "5865334",
                          "5873117",
                        ]
                    executionTime: 142
                    wasSuccessful: true
                    statusCode: 200
                transcriptionFactorResponse:
                  summary: Response for transcription factor genes
                  value:
                    results:
                      - [
                          "FBgn0000606",
                          "eve",
                          "even-skipped",
                          "DNA-binding transcription factor activity",
                        ]
                      - [
                          "FBgn0001077",
                          "ftz",
                          "fushi tarazu",
                          "DNA-binding transcription factor activity",
                        ]
                      - [
                          "FBgn0004053",
                          "zen",
                          "zerknüllt",
                          "DNA-binding transcription factor activity",
                        ]
                      - [
                          "FBgn0001180",
                          "hb",
                          "hunchback",
                          "DNA-binding transcription factor activity",
                        ]
                    executionTime: 567
                    wasSuccessful: true
                    statusCode: 200
    post:
      tags:
        - query
      summary: Execute a query
      description: |
        Execute a PathQuery to retrieve data from FlyMine using POST method.
      operationId: queryResultsPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                format:
                  type: string
                  enum:
                    [
                      tab,
                      csv,
                      count,
                      json,
                      jsonobjects,
                      jsoncount,
                      xml,
                      html,
                      rdf+xml,
                    ]
                  default: tab
                start:
                  type: integer
                  default: 0
                size:
                  type: integer
                  default: 10
                columnheaders:
                  type: string
                  enum: [none, path, friendly]
                  default: none
                token:
                  type: string
            examples:
              transcriptionFactors:
                summary: Query for transcription factors
                value:
                  query: |
                    <query model="genomic" view="Gene.primaryIdentifier Gene.symbol Gene.goAnnotation.ontologyTerm.name">
                      <constraint path="Gene.goAnnotation.ontologyTerm.name" op="CONTAINS" value="transcription factor"/>
                      <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
                    </query>
                  format: json
                  size: 20
              eveGenePost:
                summary: POST query for eve gene with JSON format
                value:
                  query: |
                    {
                      "from": "Gene",
                      "select": ["primaryIdentifier", "symbol", "name", "proteins.primaryIdentifier", "proteins.proteinDomains.name"],
                      "where": [
                        {"path": "organism.name", "op": "=", "value": "Drosophila melanogaster"},
                        {"path": "symbol", "op": "=", "value": "eve"}
                      ]
                    }
                  format: jsonobjects
                  size: 10
              chromosomeGenesPost:
                summary: Genes on specific chromosome region
                value:
                  query: |
                    <query model="genomic" view="Gene.primaryIdentifier Gene.symbol Gene.chromosomeLocation.start Gene.chromosomeLocation.end">
                      <constraint path="Gene.chromosome.primaryIdentifier" op="=" value="2L"/>
                      <constraint path="Gene.chromosomeLocation.start" op=">" value="14615455"/>
                      <constraint path="Gene.chromosomeLocation.end" op="<" value="14619002"/>
                      <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
                    </query>
                  format: csv
                  columnheaders: friendly
                  size: 50
      responses:
        "200":
          description: Query results

  /query/results/gff3:
    get:
      tags:
        - query
        - export
      summary: Export query results as GFF3
      description: |
        Export sequence features from a query in GFF3 format. Suitable for queries
        returning SequenceFeature objects.
      operationId: queryGFF3Get
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: PathQuery in XML or JSON format selecting sequence features
          example: |
            <query model="genomic" view="Gene.id Gene.exons.id">
              <constraint path="Gene.chromosome.primaryIdentifier" op="=" value="2L"/>
              <constraint path="Gene.chromosomeLocation.start" op=">" value="10000000"/>
              <constraint path="Gene.chromosomeLocation.end" op="<" value="11000000"/>
            </query>
        - name: view
          in: query
          schema:
            type: array
            items:
              type: string
          description: Extra columns to include in the ninth column
          example: ["Gene.symbol", "Gene.length"]
      responses:
        "200":
          description: GFF3 formatted results
          content:
            text/plain:
              schema:
                type: string
              example: |
                ##gff-version 3
                2L	FlyMine	gene	10234567	10245678	.	+	.	ID=FBgn0031208;Name=CG11023;symbol=CG11023;length=11112
                2L	FlyMine	exon	10234567	10234789	.	+	.	Parent=FBgn0031208
                2L	FlyMine	exon	10235001	10235456	.	+	.	Parent=FBgn0031208

  /query/results/fasta:
    get:
      tags:
        - query
        - export
      summary: Export sequences as FASTA
      description: |
        Export biological sequences from a query in FASTA format.
      operationId: queryFASTAGet
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: PathQuery selecting sequence objects
          example: |
            {
              "from": "Gene",
              "select": ["id"],
              "where": [
                {"path": "symbol", "op": "ONE OF", "values": ["eve", "ftz", "zen"]}
              ]
            }
        - name: view
          in: query
          schema:
            type: array
            items:
              type: string
          example: ["Gene.length", "Gene.chromosome.primaryIdentifier"]
      responses:
        "200":
          description: FASTA formatted sequences
          content:
            text/plain:
              schema:
                type: string
              example: |
                >FBgn0000606 type=gene; loc=2R:9979319..9984780; name=eve; length=5462;
                ATGGAGATCAAACAAGCGAAGAGTGGAGAGAAGTGGAGAAGCAGCCAAGCAAG
                CAACAGCACAAGGGCTCGTCGAGCAAGTCCAGCGAGGAGGATCTGCTGAGCGG
                >FBgn0001077 type=gene; loc=3R:2648685..2653456; name=ftz; length=4772;
                ATGGCAATGGAAGTGTCCAGCAGTCCCGTGATGGTTCATCACGTCGGTCGCTC

  /query/results/bed:
    get:
      tags:
        - query
        - export
      summary: Export genomic locations as BED
      description: |
        Export genomic locations from a query in UCSC BED format.
      operationId: queryBEDGet
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: PathQuery selecting sequence features
          example: |
            <query model="genomic" view="Gene.id">
              <constraint path="Gene.goAnnotation.ontologyTerm.name" op="=" value="wing disc development"/>
              <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
            </query>
      responses:
        "200":
          description: BED formatted results
          content:
            text/plain:
              schema:
                type: string
              example: |
                # UCSC BED format
                # Source: FlyMine
                track name=FlyMine_Wing_Development description="Wing Development Genes"
                chr2L	7529	9484	CG11023	1000	+
                chr2R	9979319	9984780	eve	1000	-
                chrX	2648220	2653456	runt	1000	+

  /template/results:
    get:
      tags:
        - template
      summary: Execute a template query
      description: |
        Execute a pre-configured template query with parameters.
      operationId: templateResults
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: The name of the template to run
          examples:
            genePathways:
              value: "Gene_Pathways"
              summary: "Template for gene pathways"
            proteinDomains:
              value: "Gene_Protein"
              summary: "Template for gene protein domains"
            flyAtlas:
              value: "Gene_AdultFlyAtlas"
              summary: "Template for FlyAtlas expression"
        - name: constraint1
          in: query
          schema:
            type: string
          description: Constraint path for parameter 1
          examples:
            geneConstraint:
              value: "Gene"
              summary: "Gene constraint"
            geneSymbol:
              value: "Gene.symbol"
              summary: "Gene symbol constraint"
        - name: op1
          in: query
          schema:
            type: string
          description: Constraint operator for parameter 1
          examples:
            lookup:
              value: "LOOKUP"
              summary: "Lookup operator"
            equals:
              value: "="
              summary: "Equals operator"
        - name: value1
          in: query
          schema:
            type: string
          description: Constraint value for parameter 1
          examples:
            eveGene:
              value: "eve"
              summary: "even-skipped gene"
            ftzGene:
              value: "ftz"
              summary: "fushi tarazu gene"
            zenGene:
              value: "zen"
              summary: "zerknullt gene"
            hbGene:
              value: "hb"
              summary: "hunchback gene"
            notchGene:
              value: "Notch"
              summary: "Notch receptor gene"
            winglessGene:
              value: "wingless"
              summary: "wingless signaling gene"
        - name: extra1
          in: query
          schema:
            type: string
          description: Extra constraint value for parameter 1
          example: "D. melanogaster"
        - name: format
          in: query
          schema:
            type: string
            enum: [tab, csv, count, json, jsonobjects, jsoncount, xml, html]
            default: tab
          example: json
        - name: size
          in: query
          schema:
            type: integer
            default: 10
          example: 25
      responses:
        "200":
          description: Template query results
          content:
            application/json:
              schema:
                type: object
              examples:
                genePathwaysResponse:
                  summary: Response for gene pathways template
                  value:
                    results:
                      - ["FBgn0000606", "eve", "Segmentation", "P06602"]
                      - ["FBgn0001077", "ftz", "Segmentation", "P07713"]
                      - [
                          "FBgn0004053",
                          "zen",
                          "Dorsal/ventral axis formation",
                          "P09102",
                        ]
                    executionTime: 145
                    wasSuccessful: true
                    statusCode: 200
                eveProteinDomainsResponse:
                  summary: Response for eve protein domains
                  value:
                    results:
                      - [
                          "FBgn0000606",
                          "eve",
                          "even-skipped",
                          "Homeobox",
                          "DNA binding",
                        ]
                      - [
                          "FBgn0000606",
                          "eve",
                          "even-skipped",
                          "Helix-turn-helix",
                          "DNA binding",
                        ]
                    executionTime: 87
                    wasSuccessful: true
                    statusCode: 200

  /templates:
    get:
      tags:
        - template
      summary: List available templates
      description: Retrieve a list of all available query templates
      operationId: listTemplates
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [xml, json]
            default: xml
          description: Output format
          example: json
        - name: includeBroken
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to include invalid templates
      responses:
        "200":
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: object
              example:
                templates:
                  Gene_Pathways:
                    title: "Gene --> Pathways"
                    description: "Show all pathways for a particular gene."
                    comment: "Shows any pathways that the gene is part of"
                    tags: ["im:aspect:Pathways", "im:public"]
                    select:
                      [
                        "Gene.symbol",
                        "Gene.pathways.name",
                        "Gene.pathways.identifier",
                      ]
                    where:
                      - path: "Gene"
                        op: "LOOKUP"
                        value: "eve"
                        editable: true
                  Organism_Protein:
                    title: "All proteins for organism"
                    description: "Show all proteins for a particular organism"
                    select: ["Protein.primaryIdentifier", "Protein.name"]

  /lists:
    get:
      tags:
        - list
      summary: Get lists
      description: Retrieve lists accessible to the user
      operationId: getLists
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Optional filter by name
          examples:
            favoriteGenes:
              value: "My_Favorite_Genes"
              summary: "User's favorite genes list"
            hoxGenes:
              value: "Hox_genes"
              summary: "Homeotic genes list"
            gapGenes:
              value: "Gap_Genes"
              summary: "Gap genes list"
            developmentalGenes:
              value: "Developmental_Genes"
              summary: "Developmental genes list"
            transcriptionFactors:
              value: "TF_List"
              summary: "Transcription factors list"
        - name: format
          in: query
          schema:
            type: string
            enum: [json, html, text, csv, tab]
            default: json
        - name: token
          in: query
          schema:
            type: string
          description: Authentication token
      responses:
        "200":
          description: User's lists
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: array
                    items:
                      type: object
              examples:
                userLists:
                  summary: User's gene lists
                  value:
                    lists:
                      - name: "PL FlyBase_Annotation_IDs"
                        size: 35807
                        type: "Gene"
                        dateCreated: "2023-01-15T10:30:00Z"
                        description: "All FlyBase gene IDs"
                        tags: ["im:public", "im:aspect:Genes"]
                      - name: "Gap_Genes"
                        size: 9
                        type: "Gene"
                        dateCreated: "2023-03-20T14:15:00Z"
                        description: "Drosophila gap genes (eve, ftz, hb, Kr, etc.)"
                        tags: ["im:private", "im:aspect:Development"]
                      - name: "Hox_genes"
                        size: 8
                        type: "Gene"
                        dateCreated: "2023-03-20T14:15:00Z"
                        description: "Drosophila Hox complex genes"
                        tags: ["im:private", "im:aspect:Development"]
                      - name: "Notch_Pathway"
                        size: 156
                        type: "Gene"
                        dateCreated: "2023-05-10T09:45:00Z"
                        description: "Genes involved in Notch signaling pathway"
                        tags: ["im:private", "im:aspect:Signaling"]
    post:
      tags:
        - list
      summary: Create a new list
      description: Create a new list by uploading identifiers
      operationId: createList
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              description: Identifiers separated by commas, tabs, or newlines
            examples:
              gapGenes:
                summary: Gap genes as plain text
                value: |
                  eve
                  ftz
                  zen
                  hb
                  Kr
                  kni
                  gt
                  tll
                  hkb
              hoxGenes:
                summary: Hox genes with FlyBase IDs
                value: |
                  FBgn0000577,Dfd
                  FBgn0003963,Scr
                  FBgn0001180,pb
                  FBgn0004053,zen
                  FBgn0000606,eve
              notchPathwayGenes:
                summary: Notch signaling pathway genes
                value: |
                  Notch
                  Delta
                  Serrate
                  fringe
                  big brain
                  neuralized
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  description: Name for the new list
                type:
                  type: string
                  description: Type of objects in the list
                description:
                  type: string
                extraValue:
                  type: string
                replaceExisting:
                  type: boolean
                  default: false
                token:
                  type: string
            examples:
              gapGenesList:
                summary: Create gap genes list
                value:
                  name: "Gap_Genes"
                  type: "Gene"
                  description: "Drosophila gap genes involved in segmentation"
                  extraValue: "D. melanogaster"
                  token: ""
              hoxGenesList:
                summary: Create Hox genes list
                value:
                  name: "Hox_Genes"
                  type: "Gene"
                  description: "Homeotic genes controlling body segment identity"
                  extraValue: "D. melanogaster"
                  replaceExisting: false
                  token: ""
              notchPathwayList:
                summary: Create Notch pathway genes list
                value:
                  name: "Notch_Signaling_Genes"
                  type: "Gene"
                  description: "Genes involved in Notch signaling pathway"
                  extraValue: "D. melanogaster"
                  token: ""
      responses:
        "200":
          description: List created successfully
          content:
            application/json:
              example:
                listName: "Gap_Genes"
                size: 9
                type: "Gene"
                wasSuccessful: true
                unmatchedIdentifiers: []
    delete:
      tags:
        - list
      summary: Delete a list
      description: Delete a list belonging to the authenticated user
      operationId: deleteList
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: Name of the list to delete
          example: "Old_Gene_List"
        - name: token
          in: query
          required: true
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: List deleted successfully

  /search:
    get:
      tags:
        - search
      summary: Keyword search
      description: |
        Perform a keyword search across FlyMine data with faceting support
      operationId: search
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search query string
          examples:
            notchSignaling:
              value: "notch signaling"
              summary: "Search for Notch signaling"
            developmentalGenes:
              value: "even skipped fushi tarazu"
              summary: "Search for developmental genes"
            eveGene:
              value: "eve"
              summary: "Search for eve gene"
            transcriptionFactors:
              value: "transcription factor"
              summary: "Search for transcription factors"
            winglessPathway:
              value: "wingless wnt"
              summary: "Search for wingless/Wnt pathway"
            dnaBinding:
              value: "DNA binding protein"
              summary: "Search for DNA binding proteins"
        - name: size
          in: query
          schema:
            type: integer
            default: 10
          description: Maximum number of results
          example: 20
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Index of first result
        - name: facet_Category
          in: query
          schema:
            type: string
          description: Filter by category facet
          example: "Gene"
        - name: list
          in: query
          schema:
            type: string
          description: Search within a specific list
          example: "PL_FlyBase_IDs"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  facets:
                    type: object
                  results:
                    type: array
                    items:
                      type: object
              examples:
                notchSignalingSearch:
                  summary: Search results for "notch signaling"
                  value:
                    facets:
                      Category:
                        Gene: 156
                        Pathway: 12
                        Publication: 843
                        GOTerm: 23
                      organism:
                        "D. melanogaster": 178
                        "D. simulans": 12
                    results:
                      - id: 1234567
                        type: "Gene"
                        score: 0.95
                        fields:
                          symbol: "Notch"
                          primaryIdentifier: "FBgn0004647"
                          name: "Notch"
                          organism: "D. melanogaster"
                      - id: 2345678
                        type: "Pathway"
                        score: 0.89
                        fields:
                          name: "Notch signaling pathway"
                          identifier: "P00045"
                eveGeneSearch:
                  summary: Search results for "eve" gene
                  value:
                    facets:
                      Category:
                        Gene: 1
                        Publication: 245
                        Protein: 1
                      organism:
                        "D. melanogaster": 247
                    results:
                      - id: 123456
                        type: "Gene"
                        score: 1.0
                        fields:
                          symbol: "eve"
                          primaryIdentifier: "FBgn0000606"
                          name: "even-skipped"
                          organism: "D. melanogaster"
                          chromosome: "2R"
                developmentalGenesSearch:
                  summary: Search results for developmental genes
                  value:
                    facets:
                      Category:
                        Gene: 5
                        Publication: 1234
                        GOTerm: 45
                      organism:
                        "D. melanogaster": 1284
                    results:
                      - id: 606
                        type: "Gene"
                        score: 0.98
                        fields:
                          symbol: "eve"
                          primaryIdentifier: "FBgn0000606"
                          name: "even-skipped"
                      - id: 1077
                        type: "Gene"
                        score: 0.97
                        fields:
                          symbol: "ftz"
                          primaryIdentifier: "FBgn0001077"
                          name: "fushi tarazu"
                      - id: 4053
                        type: "Gene"
                        score: 0.89
                        fields:
                          symbol: "zen"
                          primaryIdentifier: "FBgn0004053"
                          name: "zerknüllt"

  /regions/gff3:
    post:
      tags:
        - genomic-regions
        - export
      summary: Get features overlapping genomic regions as GFF3
      operationId: regionsGFF3Post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regions
                - featureTypes
                - organism
              properties:
                regions:
                  type: array
                  items:
                    type: string
                  description: Genomic intervals
                featureTypes:
                  type: array
                  items:
                    type: string
                  description: Types of features to find
                organism:
                  type: string
                  description: Organism name
                isInterbase:
                  type: boolean
                extension:
                  type: number
            examples:
              originalServiceExample:
                summary: Original genomic regions from service.json
                value:
                  regions:
                    - "2L:14615455..14619002"
                    - "2R:5866646..5868384"
                    - "3R:2578486..2580016"
                  featureTypes:
                    - "Gene"
                    - "Exon"
                    - "Intron"
                  organism: "D. melanogaster"
                  extension: 1000
              eveGeneRegion:
                summary: Genomic region around eve gene
                value:
                  regions:
                    - "2R:5865000..5875000"
                  featureTypes:
                    - "Gene"
                    - "MRNA"
                    - "Exon"
                    - "CDS"
                  organism: "D. melanogaster"
                  extension: 2000
              xChromosomeRegions:
                summary: Multiple regions on X chromosome
                value:
                  regions:
                    - "X:1000000..1100000"
                    - "X:2000000..2100000"
                    - "X:15000000..15100000"
                  featureTypes:
                    - "Gene"
                    - "TransposableElement"
                  organism: "D. melanogaster"
                  isInterbase: false
      responses:
        "200":
          description: GFF3 formatted features
          content:
            text/plain:
              examples:
                originalRegionsGFF3:
                  summary: GFF3 output for original genomic regions
                  value: |
                    ##gff-version 3
                    2L	FlyMine	gene	14615552	14618902	.	+	.	ID=FBgn0000055;Name=Adh;symbol=Adh;biotype=protein_coding
                    2L	FlyMine	mRNA	14615552	14618902	.	+	.	ID=FBtr0070000;Parent=FBgn0000055;Name=Adh-RA
                    2L	FlyMine	exon	14615552	14615700	.	+	.	ID=FBgn0000055:1;Parent=FBtr0070000
                    2L	FlyMine	exon	14616300	14618902	.	+	.	ID=FBgn0000055:2;Parent=FBtr0070000
                eveRegionGFF3:
                  summary: GFF3 output for eve gene region
                  value: |
                    ##gff-version 3
                    2R	FlyMine	gene	5865334	5873117	.	+	.	ID=FBgn0000606;Name=eve;symbol=eve;biotype=protein_coding
                    2R	FlyMine	mRNA	5865334	5873117	.	+	.	ID=FBtr0070607;Parent=FBgn0000606;Name=eve-RA
                    2R	FlyMine	exon	5865334	5865475	.	+	.	ID=FBgn0000606:1;Parent=FBtr0070607
                    2R	FlyMine	exon	5866646	5868384	.	+	.	ID=FBgn0000606:2;Parent=FBtr0070607
                    2R	FlyMine	exon	5872855	5873117	.	+	.	ID=FBgn0000606:3;Parent=FBtr0070607

  /regions/sequence:
    post:
      tags:
        - genomic-regions
        - export
      summary: Get sequences from genomic regions as FASTA
      operationId: regionsFASTAPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regions
                - featureTypes
                - organism
              properties:
                regions:
                  type: array
                  items:
                    type: string
                featureTypes:
                  type: array
                  items:
                    type: string
                organism:
                  type: string
            examples:
              xChromosomeSequences:
                summary: Sequences from X chromosome regions
                value:
                  regions:
                    - "X:2000000..2010000"
                    - "X:15000000..15005000"
                  featureTypes:
                    - "Gene"
                    - "CDS"
                  organism: "D. melanogaster"
              eveGeneSequence:
                summary: Sequences from eve gene region
                value:
                  regions:
                    - "2R:5865334..5873117"
                  featureTypes:
                    - "Gene"
                    - "Exon"
                    - "CDS"
                  organism: "D. melanogaster"
              multipleChromosomeSequences:
                summary: Sequences from multiple chromosomes
                value:
                  regions:
                    - "2L:14615455..14619002"
                    - "3R:2578486..2580016"
                    - "X:1000000..1002000"
                  featureTypes:
                    - "Gene"
                  organism: "D. melanogaster"
      responses:
        "200":
          description: FASTA formatted sequences
          content:
            text/plain:
              examples:
                xChromosomeFASTA:
                  summary: FASTA sequences from X chromosome
                  value: |
                    >FBgn0003319 X:2001234-2008765 symbol=white length=7532
                    ATGGATCGTAGCTACGTAGCTAGCTAGCTAGCATCGATCGATCGATCGATC
                    GCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCT
                    AGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGT
                    >FBgn0264512 X:15001000-15003500 symbol=Notch length=2501
                    ATGCCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATCGA
                    TCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATCG
                eveGeneFASTA:
                  summary: FASTA sequence for eve gene
                  value: |
                    >FBgn0000606 2R:5865334-5873117 symbol=eve name=even-skipped length=7784
                    ATGGCCAACAACAACAACAACAACAACAACAACAACAACAACAACAACAAC
                    CAACAACAACGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGC
                    CGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGCCGC

  /regions/bed:
    post:
      tags:
        - genomic-regions
        - export
      summary: Get features overlapping genomic regions as BED
      operationId: regionsBEDPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regions
                - featureTypes
                - organism
              properties:
                regions:
                  type: array
                  items:
                    type: string
                featureTypes:
                  type: array
                  items:
                    type: string
                organism:
                  type: string
            example:
              regions:
                - "2L:10000000..11000000"
                - "2R:5000000..6000000"
              featureTypes:
                - "Gene"
                - "TransposableElement"
              organism: "D. melanogaster"
      responses:
        "200":
          description: BED formatted features
          content:
            text/plain:
              example: |
                track name=FlyMine_Regions description="Selected genomic regions"
                chr2L	10234567	10245678	CG11023	1000	+
                chr2L	10456789	10467890	CG2187	1000	-
                chr2R	5234567	5245678	1360{}1224	500	+

  /model:
    get:
      tags:
        - model
      summary: Get data model
      description: |
        Retrieve the FlyMine data model
      operationId: getModel
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [xml, json]
            default: xml
          description: Output format
          example: json
      responses:
        "200":
          description: Data model
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    type: object
              example:
                model:
                  name: "genomic"
                  package: "org.intermine.model.bio"
                  classes:
                    Gene:
                      extends: ["SequenceFeature"]
                      attributes:
                        briefDescription:
                          type: "java.lang.String"
                        description:
                          type: "java.lang.String"
                        symbol:
                          type: "java.lang.String"
                      references:
                        organism:
                          referencedType: "Organism"
                        chromosome:
                          referencedType: "Chromosome"
                      collections:
                        alleles:
                          referencedType: "Allele"
                        pathways:
                          referencedType: "Pathway"

  /version:
    get:
      tags:
        - model
      summary: Get API version
      description: Get the web service version number
      operationId: getVersion
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [text, json]
            default: text
          example: json
      responses:
        "200":
          description: Version information
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
              example:
                version: 35
                executionTime: "2023.10.15 14:30:45"
                wasSuccessful: true
                statusCode: 200
            text/plain:
              example: "35"

  /user/token:
    get:
      tags:
        - user
      summary: Get authentication token
      description: |
        Get a 24-hour authentication token
      operationId: getToken
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
          description: FlyMine username (email)
          example: "researcher@university.edu"
        - name: password
          in: query
          required: true
          schema:
            type: string
            format: password
          description: FlyMine password
          example: "securePassword123"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: 24-hour authentication token
                  executionTime:
                    type: integer
                  wasSuccessful:
                    type: boolean
              example:
                token: "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
                executionTime: 45
                wasSuccessful: true
        "401":
          description: Invalid credentials

  /user/whoami:
    get:
      tags:
        - user
      summary: Get current user info
      description: Retrieve information about the currently authenticated user
      operationId: whoami
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          example: "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
      responses:
        "200":
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
              example:
                user:
                  username: "researcher@university.edu"
                  id: 123456
                  isGuest: false
                  isSuperuser: false
                  preferences:
                    do_not_spam: "true"
                    galaxy-url: "https://usegalaxy.org/"

  /widgets:
    get:
      tags:
        - widget
      summary: List available widgets
      description: Get a list of data visualization widgets
      operationId: listWidgets
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml, tab, csv]
            default: json
          example: json
      responses:
        "200":
          description: List of widgets
          content:
            application/json:
              schema:
                type: object
                properties:
                  widgets:
                    type: array
                    items:
                      type: object
              examples:
                availableWidgets:
                  summary: Available FlyMine widgets
                  value:
                    widgets:
                      - name: "flyatlas_for_gene"
                        title: "Gene Expression in the Fly (FlyAtlas)"
                        description: "Expression levels across fly tissues"
                        widgetType: "chart"
                        chartType: "BarChart"
                        targets: ["Gene"]
                      - name: "go_enrichment_for_gene"
                        title: "Gene Ontology Enrichment"
                        description: "GO terms enriched in this gene list"
                        widgetType: "enrichment"
                        targets: ["Gene"]
                        filters:
                          [
                            "biological_process",
                            "cellular_component",
                            "molecular_function",
                          ]
                      - name: "protein_domains"
                        title: "Protein Domain Enrichment"
                        description: "Protein domains enriched in gene lists"
                        widgetType: "enrichment"
                        targets: ["Gene", "Protein"]
                      - name: "pathway_enrichment"
                        title: "Pathway Enrichment"
                        description: "KEGG and Reactome pathways enriched in gene lists"
                        widgetType: "enrichment"
                        targets: ["Gene"]
                      - name: "chromosome_distribution"
                        title: "Chromosome Distribution"
                        description: "Distribution of genes across chromosomes"
                        widgetType: "chart"
                        chartType: "PieChart"
                        targets: ["Gene"]

  /list/enrichment:
    get:
      tags:
        - widget
      summary: Get enrichment widget data
      description: |
        Statistical enrichment analysis for a list
      operationId: enrichmentWidget
      parameters:
        - name: list
          in: query
          schema:
            type: string
          description: Name of the list to analyze
          examples:
            transcriptionFactors:
              value: "PL FlyTF_site_specific_TFs"
              summary: "Transcription factors list"
            gapGenes:
              value: "Gap_Genes"
              summary: "Gap genes list"
            hoxGenes:
              value: "Hox_genes"
              summary: "Hox genes list"
            notchPathway:
              value: "Notch_Pathway"
              summary: "Notch signaling pathway genes"
        - name: widget
          in: query
          required: true
          schema:
            type: string
          description: Name of the enrichment widget
          examples:
            goEnrichment:
              value: "go_enrichment_for_gene"
              summary: "GO enrichment widget"
            proteinDomains:
              value: "protein_domains"
              summary: "Protein domains widget"
            pathwayEnrichment:
              value: "pathway_enrichment"
              summary: "Pathway enrichment widget"
        - name: maxp
          in: query
          schema:
            type: number
            default: 0.05
          description: Maximum p-value
          example: 0.01
        - name: correction
          in: query
          schema:
            type: string
            enum:
              [
                "Holm-Bonferroni",
                "Benjamini and Hochberg",
                "Bonferroni",
                "None",
              ]
            default: "Holm-Bonferroni"
          example: "Benjamini and Hochberg"
        - name: filter
          in: query
          schema:
            type: string
          description: Optional widget-specific filter
          example: "biological_process"
        - name: population
          in: query
          schema:
            type: string
          description: Background population list name
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml, tab, csv]
            default: json
        - name: token
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Enrichment analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
              examples:
                goEnrichmentResults:
                  summary: GO enrichment results for gap genes
                  value:
                    results:
                      - item: "DNA binding"
                        identifier: "GO:0003677"
                        description: "Any molecular function by which a gene product interacts with DNA"
                        pValue: 0.000001
                        matches: 8
                        populationAnnotationCount: 523
                        expectedMatches: 1.2
                        enrichmentRatio: 6.67
                      - item: "transcription regulator activity"
                        identifier: "GO:0140110"
                        description: "Controlling transcription of genes"
                        pValue: 0.000005
                        matches: 7
                        populationAnnotationCount: 312
                        expectedMatches: 0.9
                        enrichmentRatio: 7.78
                      - item: "sequence-specific DNA binding"
                        identifier: "GO:0043565"
                        description: "Binding to a specific DNA sequence"
                        pValue: 0.000012
                        matches: 6
                        populationAnnotationCount: 234
                        expectedMatches: 0.7
                        enrichmentRatio: 8.57
                pathwayEnrichmentResults:
                  summary: Pathway enrichment results for developmental genes
                  value:
                    results:
                      - item: "Segmentation"
                        identifier: "R-DME-2022377"
                        description: "Subdivision of the embryo into segments"
                        pValue: 0.000002
                        matches: 5
                        populationAnnotationCount: 45
                        expectedMatches: 0.3
                        enrichmentRatio: 16.67
                      - item: "Dorsal/ventral axis formation"
                        identifier: "dme04320"
                        description: "Formation of dorsal-ventral body axis"
                        pValue: 0.000008
                        matches: 4
                        populationAnnotationCount: 32
                        expectedMatches: 0.2
                        enrichmentRatio: 20.0

  /ids:
    post:
      tags:
        - id-resolution
      summary: Start ID resolution job
      description: |
        Submit identifiers for resolution to database objects
      operationId: submitIDResolution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifiers
                - type
              properties:
                identifiers:
                  type: array
                  items:
                    type: string
                  description: List of identifiers to resolve
                type:
                  type: string
                  description: Type of objects to resolve to
                extra:
                  type: string
                  description: Additional disambiguation value
                caseSensitive:
                  type: boolean
                  default: false
                wildCards:
                  type: boolean
                  default: false
            examples:
              originalServiceExample:
                summary: Original example from service.json
                value:
                  identifiers:
                    - "eve"
                    - "zen"
                    - "bib"
                  type: "Gene"
                  caseSensitive: true
                  wildCards: true
                  extra: "D. melanogaster"
              mixedIdentifiers:
                summary: Mixed gene identifiers (symbols, FBgn, CG numbers)
                value:
                  identifiers:
                    - "eve"
                    - "CG2328"
                    - "FBgn0000606"
                    - "zen"
                    - "hunchback"
                    - "Q9VWC6"
                  type: "Gene"
                  extra: "D. melanogaster"
                  caseSensitive: false
                  wildCards: true
              developmentalGenes:
                summary: Developmental gene identifiers
                value:
                  identifiers:
                    - "eve"
                    - "ftz"
                    - "zen"
                    - "hb"
                    - "Kr"
                    - "kni"
                    - "gt"
                  type: "Gene"
                  extra: "D. melanogaster"
                  caseSensitive: false
              flybaseIDs:
                summary: FlyBase gene IDs
                value:
                  identifiers:
                    - "FBgn0000606"
                    - "FBgn0001077"
                    - "FBgn0004053"
                    - "FBgn0001180"
                  type: "Gene"
                  extra: "D. melanogaster"
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Job submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                    description: Unique job identifier
              example:
                uid: "job_12345abcde67890fghij"
                wasSuccessful: true

  /ids/{uid}/status:
    get:
      tags:
        - id-resolution
      summary: Check job status
      description: Check the status of an ID resolution job
      operationId: checkIDResolutionStatus
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: Job identifier
          example: "job_12345abcde67890fghij"
        - name: token
          in: query
          required: true
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, RUNNING, SUCCESS, ERROR]
              example:
                status: "SUCCESS"
                message: "Job completed successfully"
                stats:
                  MATCH: 5
                  TYPE_CONVERTED: 1
                  OTHER: 0
                  DUPLICATE: 0

  /ids/{uid}/results:
    get:
      tags:
        - id-resolution
      summary: Get job results
      description: Retrieve the results of a completed ID resolution job
      operationId: getIDResolutionResults
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: Job identifier
          example: "job_12345abcde67890fghij"
        - name: token
          in: query
          required: true
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Resolution results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
              example:
                results:
                  matches:
                    eve:
                      - id: 1007656
                        summary:
                          primaryIdentifier: "FBgn0000606"
                          symbol: "eve"
                          organism.name: "Drosophila melanogaster"
                    CG2328:
                      - id: 1007656
                        summary:
                          primaryIdentifier: "FBgn0000606"
                          symbol: "eve"
                          organism.name: "Drosophila melanogaster"
                    zen:
                      - id: 1142697
                        summary:
                          primaryIdentifier: "FBgn0004053"
                          symbol: "zen"
                  unresolved: []

  /list/results/gff3:
    get:
      tags:
        - list
        - export
      summary: Export list as GFF3
      description: |
        Export the contents of a list containing SequenceFeatures as GFF3 format.
        Suitable for lists of Gene, Exon, CDS, or other sequence feature objects.
      operationId: listGFF3Get
      parameters:
        - name: list
          in: query
          required: true
          schema:
            type: string
          description: Name of the list to export
          example: "PL FlyBase_Annotation_IDs"
        - name: view
          in: query
          schema:
            type: array
            items:
              type: string
          description: Extra columns to include in the ninth column
          example: ["Gene.symbol", "Gene.length"]
        - name: token
          in: query
          schema:
            type: string
          description: Authentication token for private lists
      responses:
        "200":
          description: GFF3 formatted list contents
          content:
            text/plain:
              schema:
                type: string
              example: |
                ##gff-version 3
                2L	FlyMine	gene	7529	9484	.	+	.	ID=FBgn0031208;Name=CG11023;symbol=CG11023;length=1956
                2R	FlyMine	gene	9979319	9984780	.	-	.	ID=FBgn0000606;Name=even-skipped;symbol=eve;length=5462
                3R	FlyMine	gene	2648220	2653456	.	+	.	ID=FBgn0003300;Name=runt;symbol=run;length=5237
    post:
      tags:
        - list
        - export
      summary: Export list as GFF3
      description: |
        Export the contents of a list containing SequenceFeatures as GFF3 format using POST method.
      operationId: listGFF3Post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - list
              properties:
                list:
                  type: string
                  description: Name of the list to export
                view:
                  type: array
                  items:
                    type: string
                  description: Extra columns to include
                token:
                  type: string
            example:
              list: "PL FlyBase_Annotation_IDs"
              view: ["Gene.symbol", "Gene.length"]
      responses:
        "200":
          description: GFF3 formatted list contents

  /list/results/fasta:
    get:
      tags:
        - list
        - export
      summary: Export list as FASTA
      description: |
        Export the contents of a list containing SequenceFeatures or Proteins as FASTA format.
        Returns biological sequences with headers containing feature information.
      operationId: listFASTAGet
      parameters:
        - name: list
          in: query
          required: true
          schema:
            type: string
          description: Name of the list to export (must contain Gene or Protein objects)
          example: "Gap_Genes"
        - name: view
          in: query
          schema:
            type: array
            items:
              type: string
          description: Extra information to include in FASTA headers
          example: ["Gene.length", "Gene.chromosome.primaryIdentifier"]
        - name: token
          in: query
          schema:
            type: string
          description: Authentication token for private lists
      responses:
        "200":
          description: FASTA formatted sequences
          content:
            text/plain:
              schema:
                type: string
              example: |
                >FBgn0000606 type=gene; loc=2R:9979319..9984780; name=eve; length=5462;
                ATGGAGATCAAACAAGCGAAGAGTGGAGAGAAGTGGAGAAGCAGCCAAGCAAG
                CAACAGCACAAGGGCTCGTCGAGCAAGTCCAGCGAGGAGGATCTGCTGAGCGG
                CGAGGAGGATCTGCTGAGCGGCGACAGCGACAGCGACAGCGACAGCGACAGC
                >FBgn0001077 type=gene; loc=3R:2648685..2653456; name=ftz; length=4772;
                ATGGCAATGGAAGTGTCCAGCAGTCCCGTGATGGTTCATCACGTCGGTCGCTC
                TCAGTCGTCGGGTGGTGGTGGTGGTGGTGGTGGTGGTGGTGGTGGTGGTGGT
    post:
      tags:
        - list
        - export
      summary: Export list as FASTA
      description: |
        Export the contents of a list containing SequenceFeatures or Proteins as FASTA format using POST method.
      operationId: listFASTAPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - list
              properties:
                list:
                  type: string
                  description: Name of the list to export
                view:
                  type: array
                  items:
                    type: string
                token:
                  type: string
            example:
              list: "Gap_Genes"
              view: ["Gene.length", "Gene.chromosome.primaryIdentifier"]
      responses:
        "200":
          description: FASTA formatted sequences

  /regions/list:
    get:
      tags:
        - genomic-regions
        - list
      summary: Create list from genomic regions
      description: |
        Create a list of features found overlapping a set of genomic intervals.
        All features found will be saved in a list with the given name.
      operationId: regionsListGet
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: Name for the new list
          example: "Genes_in_Region_2L"
        - name: description
          in: query
          schema:
            type: string
          description: Optional description for the list
          example: "Genes found in chromosome 2L region 14-15Mb"
        - name: tags
          in: query
          schema:
            type: array
            items:
              type: string
          description: Tags to apply to the list
          example: ["genomic-region", "2L"]
        - name: replaceExisting
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to replace existing list with same name
        - name: query
          in: query
          required: true
          schema:
            type: string
            format: json
          description: JSON object specifying genomic regions and feature types
          example: |
            {
              "regions": ["2L:14615455..14619002", "2R:5866646..5868384"],
              "featureTypes": ["Gene", "Exon"],
              "organism": "D. melanogaster",
              "extension": 0
            }
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Authentication token
      responses:
        "200":
          description: List created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  listName:
                    type: string
                  size:
                    type: integer
                  type:
                    type: string
                  wasSuccessful:
                    type: boolean
              example:
                listName: "Genes_in_Region_2L"
                size: 156
                type: "Gene"
                wasSuccessful: true
                executionTime: 234
    post:
      tags:
        - genomic-regions
        - list
      summary: Create list from genomic regions
      description: |
        Create a list of features found overlapping a set of genomic intervals using POST method.
      operationId: regionsListPost
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: Name for the new list
        - name: description
          in: query
          schema:
            type: string
          description: Optional description for the list
        - name: tags
          in: query
          schema:
            type: array
            items:
              type: string
          description: Tags to apply to the list
        - name: replaceExisting
          in: query
          schema:
            type: boolean
            default: false
        - name: token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regions
                - featureTypes
                - organism
              properties:
                regions:
                  type: array
                  items:
                    type: string
                  description: Genomic intervals in format "chr:start..end"
                  minItems: 1
                featureTypes:
                  type: array
                  items:
                    type: string
                  description: Types of features to find
                  minItems: 1
                organism:
                  type: string
                  description: Organism name
                isInterbase:
                  type: boolean
                  description: Whether coordinates are 0-based (interbase)
                  default: false
                extension:
                  type: number
                  description: Number of base pairs to extend regions
                  default: 0
            example:
              regions:
                - "2L:14615455..14619002"
                - "2R:5866646..5868384"
                - "3R:2578486..2580016"
              featureTypes:
                - "Gene"
                - "Exon"
                - "Intron"
              organism: "D. melanogaster"
              extension: 1000
      responses:
        "200":
          description: List created successfully

  /query/tolist:
    get:
      tags:
        - query
        - list
      summary: Save query results as a list
      description: |
        Execute a query and save the results as a new list. The query must return
        objects of a single type that can be stored in a list.
      operationId: queryToListGet
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: PathQuery in XML or JSON format
          example: |
            <query model="genomic" view="Gene.primaryIdentifier">
              <constraint path="Gene.goAnnotation.ontologyTerm.name" op="CONTAINS" value="transcription"/>
              <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
            </query>
        - name: name
          in: query
          required: true
          schema:
            type: string
          description: Name for the new list (must be unique)
          example: "Transcription_Factors_Query"
        - name: description
          in: query
          schema:
            type: string
          description: Description for the new list
          example: "Genes involved in transcription regulation"
        - name: tags
          in: query
          schema:
            type: array
            items:
              type: string
          description: Tags to categorize the list
          example: ["gene-function", "transcription"]
        - name: replaceExisting
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to replace existing list with same name
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Authentication token
      responses:
        "200":
          description: List created from query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  listName:
                    type: string
                  size:
                    type: integer
                  type:
                    type: string
                  wasSuccessful:
                    type: boolean
                  executionTime:
                    type: integer
              example:
                listName: "Transcription_Factors_Query"
                size: 234
                type: "Gene"
                wasSuccessful: true
                executionTime: 876
    post:
      tags:
        - query
        - list
      summary: Save query results as a list
      description: |
        Execute a query and save the results as a new list using POST method.
      operationId: queryToListPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - query
                - name
              properties:
                query:
                  type: string
                  description: PathQuery in XML or JSON format
                name:
                  type: string
                  description: Name for the new list
                description:
                  type: string
                  description: Description for the new list
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to categorize the list
                replaceExisting:
                  type: boolean
                  default: false
                  description: Whether to replace existing list
                token:
                  type: string
                  description: Authentication token
            example:
              query: |
                {
                  "from": "Gene",
                  "select": ["primaryIdentifier"],
                  "where": [
                    {"path": "pathways.name", "op": "CONTAINS", "value": "hedgehog"},
                    {"path": "organism.name", "op": "=", "value": "Drosophila melanogaster"}
                  ]
                }
              name: "Hedgehog_Pathway_Genes"
              description: "Genes in hedgehog signaling pathway"
              tags: ["pathway", "signaling"]
      responses:
        "200":
          description: List created from query results

  /lists/append:
    post:
      tags:
        - list
      summary: Append items to an existing list
      description: |
        Add items to an existing list by providing identifiers. The list must exist
        and belong to the authenticated user.
      operationId: listsAppend
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              description: Identifiers to add, separated by commas, tabs, or newlines
            example: |
              hb
              Kr
              kni
              gt
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name of the existing list to append to
                format:
                  type: string
                  enum: [json, text]
                  default: json
                  description: Output format
                token:
                  type: string
                  description: Authentication token
            example:
              name: "Gap_Genes"
              format: "json"
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Authentication token
      responses:
        "200":
          description: Items appended successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  listName:
                    type: string
                  size:
                    type: integer
                  wasSuccessful:
                    type: boolean
                  duplicates:
                    type: array
                    items:
                      type: string
                  unmatched:
                    type: array
                    items:
                      type: string
              example:
                listName: "Gap_Genes"
                size: 12
                wasSuccessful: true
                duplicates: []
                unmatched: []

  /lists/union:
    post:
      tags:
        - list
      summary: Create union of lists
      description: |
        Create a new list containing all unique items from multiple source lists.
      operationId: listsUnion
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
                - lists
              properties:
                name:
                  type: string
                  description: Name for the new union list
                lists:
                  type: array
                  items:
                    type: string
                  description: Names of lists to combine
                description:
                  type: string
                  description: Description for the new list
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags for the new list
                format:
                  type: string
                  enum: [json, text]
                  default: json
                token:
                  type: string
                  description: Authentication token
            example:
              name: "Combined_Gene_Lists"
              lists: ["Gap_Genes", "Hox_genes"]
              description: "Union of gap genes and Hox genes"
              tags: ["development", "combined"]
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Union list created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  listName:
                    type: string
                  size:
                    type: integer
                  wasSuccessful:
                    type: boolean
              example:
                listName: "Combined_Gene_Lists"
                size: 17
                wasSuccessful: true

  /lists/intersect:
    post:
      tags:
        - list
      summary: Create intersection of lists
      description: |
        Create a new list containing only items present in all source lists.
      operationId: listsIntersect
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
                - lists
              properties:
                name:
                  type: string
                  description: Name for the new intersection list
                lists:
                  type: array
                  items:
                    type: string
                  description: Names of lists to intersect
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                format:
                  type: string
                  enum: [json, text]
                  default: json
                token:
                  type: string
            example:
              name: "Common_TF_Genes"
              lists: ["Transcription_Factors", "Neural_Genes"]
              description: "Transcription factors also expressed in neural tissue"
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Intersection list created successfully

  /lists/subtract:
    post:
      tags:
        - list
      summary: Subtract one list from another
      description: |
        Create a new list containing items from the first list that are not in the second list.
      operationId: listsSubtract
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
                - from
                - subtract
              properties:
                name:
                  type: string
                  description: Name for the new list
                from:
                  type: string
                  description: Name of the source list
                subtract:
                  type: string
                  description: Name of the list to subtract
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                format:
                  type: string
                  enum: [json, text]
                  default: json
                token:
                  type: string
            example:
              name: "Unique_Eye_Genes"
              from: "Eye_Development_Genes"
              subtract: "Wing_Development_Genes"
              description: "Eye development genes not involved in wing development"
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subtraction list created successfully

  /lists/diff:
    post:
      tags:
        - list
      summary: Create symmetric difference of lists
      description: |
        Create a new list containing items that are in either list but not in both
        (symmetric difference).
      operationId: listsDiff
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
                - lists
              properties:
                name:
                  type: string
                  description: Name for the new difference list
                lists:
                  type: array
                  items:
                    type: string
                  minItems: 2
                  maxItems: 2
                  description: Names of exactly two lists to compare
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                format:
                  type: string
                  enum: [json, text]
                  default: json
                token:
                  type: string
            example:
              name: "Unique_to_Each_Tissue"
              lists: ["Brain_Genes", "Muscle_Genes"]
              description: "Genes unique to brain or muscle but not both"
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Difference list created successfully

  /login:
    post:
      tags:
        - user
      summary: User login
      description: |
        Log in a user and obtain authentication token for subsequent requests.
        Alternative to the /user/token endpoint.
      operationId: login
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - user
                - password
              properties:
                user:
                  type: string
                  description: Username (email address)
                  format: email
                password:
                  type: string
                  description: User password
                  format: password
            example:
              user: "researcher@university.edu"
              password: "securePassword123"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Authentication token
                  executionTime:
                    type: integer
                  wasSuccessful:
                    type: boolean
              example:
                token: "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
                executionTime: 123
                wasSuccessful: true
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  wasSuccessful:
                    type: boolean
              example:
                error: "Invalid username or password"
                wasSuccessful: false

  /logout:
    get:
      tags:
        - user
      summary: User logout
      description: |
        Log out the current user and invalidate the authentication token.
      operationId: logout
      security:
        - tokenAuth: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Authentication token to invalidate
      responses:
        "200":
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  wasSuccessful:
                    type: boolean
              example:
                message: "User logged out successfully"
                wasSuccessful: true
        "401":
          description: Invalid or expired token

  /sequence:
    get:
      tags:
        - export
      summary: Get sequence data
      description: |
        Get either the entire sequence of an object or fetch an indexed subsequence.
        Expects a query with a single output column that resolves to a sequenceable object.
      operationId: getSequence
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: PathQuery in XML or JSON format selecting sequence objects
          example: |
            <query model="genomic" view="Gene.sequence.residues">
              <constraint path="Gene" op="LOOKUP" value="eve" extraValue="D. melanogaster"/>
            </query>
        - name: start
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Start index for subsequence (0-based)
          example: 100
        - name: end
          in: query
          schema:
            type: integer
          description: End index for subsequence (exclusive)
          example: 500
        - name: format
          in: query
          schema:
            type: string
            enum: [fasta, text]
            default: fasta
          description: Output format
      responses:
        "200":
          description: Sequence data
          content:
            text/plain:
              schema:
                type: string
              examples:
                fasta:
                  summary: FASTA format output
                  value: |
                    >FBgn0000606 even-skipped
                    ATGGAGATCAAACAAGCGAAGAGTGGAGAGAAGTGGAGAAGCAGCCAAGCAAG
                    CAACAGCACAAGGGCTCGTCGAGCAAGTCCAGCGAGGAGGATCTGCTGAGCGG
                    CGACAGCGACAGCGACAGCGACAGCGACAGCGACAGCGACAGCGACAGCGAC
                text:
                  summary: Plain text output
                  value: "ATGGAGATCAAACAAGCGAAGAGTGGAGAGAAGTGGAGAAGCAGCCAAGCAAG"

  /summaryfields:
    get:
      tags:
        - model
      summary: Get summary fields for classes
      description: |
        Get the fields used to summarize each class in the data model.
        Summary fields are the key attributes displayed in search results and object summaries.
      operationId: getSummaryFields
      parameters:
        - name: norefs
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to exclude reference fields from summary
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
      responses:
        "200":
          description: Summary fields for all classes
          content:
            application/json:
              schema:
                type: object
                properties:
                  classes:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                classes:
                  Gene:
                    - "primaryIdentifier"
                    - "symbol"
                    - "name"
                    - "organism.name"
                  Protein:
                    - "primaryIdentifier"
                    - "name"
                    - "organism.name"
                  Publication:
                    - "firstAuthor"
                    - "title"
                    - "year"
                    - "journal"

  /path/values:
    get:
      tags:
        - model
      summary: Get possible values for a path
      description: |
        Get possible values for a given path in the data model. Useful for auto-complete
        and discovering valid constraint values for queries.
      operationId: getPathValues
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
          description: Path in the data model (e.g., Gene.symbol, Organism.name)
          example: "Gene.organism.name"
        - name: typeConstraints
          in: query
          schema:
            type: string
          description: JSON object with type constraints
          example: '{"Gene": "SequenceFeature"}'
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
      responses:
        "200":
          description: List of possible values
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                        count:
                          type: integer
              example:
                results:
                  - value: "Drosophila melanogaster"
                    count: 35807
                  - value: "Drosophila simulans"
                    count: 15420
                  - value: "Drosophila pseudoobscura"
                    count: 14520

  /classkeys:
    get:
      tags:
        - model
      summary: Get class keys
      description: |
        Get the keys used to uniquely identify objects of each class in the data model.
        These keys are used for object lookups and deduplication.
      operationId: getClassKeys
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
      responses:
        "200":
          description: Class keys for all classes
          content:
            application/json:
              schema:
                type: object
                properties:
                  classes:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
              example:
                classes:
                  Gene:
                    - ["primaryIdentifier"]
                    - ["symbol", "organism.name"]
                    - ["name", "organism.name"]
                  Protein:
                    - ["primaryIdentifier"]
                    - ["primaryAccession"]
                    - ["name", "organism.name"]
                  Publication:
                    - ["pubMedId"]
                    - ["doi"]

  /web-properties:
    get:
      tags:
        - model
      summary: Get web application properties
      description: |
        Get configuration properties for the web application interface, including
        settings for display, behavior, and available features.
      operationId: getWebProperties
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
      responses:
        "200":
          description: Web application properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    additionalProperties:
                      type: string
              example:
                properties:
                  project.title: "FlyMine"
                  project.subTitle: "An integrated database for Drosophila and Anopheles genomics"
                  project.releaseVersion: "52.0"
                  project.contact: "support@flymine.org"
                  webapp.listchooser.size: "10"
                  webapp.max.bag.size: "100000"
                  externallink.flybase.url: "http://flybase.org/reports/<<attributeValue>>.html"
                  externallink.uniprot.url: "https://www.uniprot.org/uniprot/<<attributeValue>>"

  /query/append/tolist:
    post:
      tags:
        - query
        - list
      summary: Append query results to existing list
      description: |
        Execute a query and append the results to an existing list. The query must return
        objects of the same type as the target list.
      operationId: queryAppendToList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - query
                - listName
              properties:
                query:
                  type: string
                  description: PathQuery in XML or JSON format
                listName:
                  type: string
                  description: Name of the existing list to append to
                token:
                  type: string
                  description: Authentication token
            example:
              query: |
                <query model="genomic" view="Gene.primaryIdentifier">
                  <constraint path="Gene.pathways.name" op="CONTAINS" value="insulin"/>
                  <constraint path="Gene.organism.name" op="=" value="Drosophila melanogaster"/>
                </query>
              listName: "Signaling_Genes"
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Query results appended to list
          content:
            application/json:
              schema:
                type: object
                properties:
                  listName:
                    type: string
                  newSize:
                    type: integer
                  added:
                    type: integer
                  duplicates:
                    type: integer
                  wasSuccessful:
                    type: boolean
              example:
                listName: "Signaling_Genes"
                newSize: 467
                added: 23
                duplicates: 5
                wasSuccessful: true

  /list/tags:
    get:
      tags:
        - list
      summary: Get available list tags
      description: |
        Get all tags used across lists in the system. Tags help organize and categorize lists.
      operationId: getListTags
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml, text]
            default: json
        - name: token
          in: query
          schema:
            type: string
          description: Authentication token for private tags
      responses:
        "200":
          description: Available list tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tagName:
                          type: string
                        count:
                          type: integer
              example:
                tags:
[...]
